* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: gray;
}

.container-fluid {
    padding: 0;
    background: #4E5366;
    .container {
        .row {
            /* container first */
            &.menu {
                text-transform: uppercase;
                padding-top: 20px;
                position: relative;
                height: 90px;
                align-items: center;
                /* menu bar */
                a {
                    color: white !important;
                    font-size: 28px;
                    text-decoration: none;
                    float: right;
                    clear: right;
                }
                &:hover {
                    color: yellow;
                    nav {
                        display: block;
                        background: #3E4050;
                        color: rgb(233, 215, 191);
                    }
                }
                nav {
                    display: none;
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    top: 40px;
                    padding: 0 20px;
                    li {
                        &:hover {
                            background: rgb(22, 61, 132);
                            color: rgb(250, 202, 185);
                        }
                    }
                    li {
                        padding: 0 40px;
                    }
                }
            }
        }
    }
    .container {
        .row {
            &.row-2 {
                height: 400px;
                // col 1
                .col-md-4 {
                    padding: 0;
                    height: 100%;
                    .row-2-col-2-content {
                        div {
                            width: 100%;
                            text-align: center;
                            align-items: center;
                            height: 200px;
                        }
                        .box-1 {
                            background: #4DAAAF;
                            padding: 10%;
                        }
                        .box-2 {
                            background: #6BC7AE;
                            padding: 10%;
                        }
                        h4 {
                            font-size: 20px;
                            text-transform: uppercase;
                            color: rgb(228, 228, 228) !important;
                        }
                        p {
                            color: rgb(228, 228, 228);
                        }
                        .btn-row-2 {
                            background: rgba(255, 255, 255, .4);
                            padding: 5px 35px;
                            border: 1px solid rgba(255, 255, 255, .4);
                            border-radius: 50px;
                            color: white;
                        }
                    }
                }
                // col 2
                .row-2-col-1 {
                    padding: 0;
                    overflow: hidden;
                    .row-2-img {
                        height: 400px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.background-container-2 {
    background: #575B74;
    .container {
        &.container-2 {
            background: #FFFFFF;
            // row 1
            .container-2-row-1 {
                display: block;
                text-align: center;
                padding: 90px 50px;
                h4 {
                    color: grey;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                p {
                    color: rgb(162, 162, 162);
                }
                .container-2-row-content {
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-between;
                    .container-2-content-col {
                        text-align: center;
                        border-right: 1px solid #e6e6e6;
                        flex: 1;
                        padding: 30px 30px;
                        .fas {
                            font-size: 35px;
                            border: 1px solid #aaa9a9;
                            padding: 27px;
                            border-radius: 50%;
                            margin-bottom: 20px;
                        }
                        h5 {
                            color: #989898;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin: 20px 0;
                        }
                        p {
                            color: #B4B4B4;
                        }
                        .fa-camera {
                            color: #53A19C;
                        }
                        .fa-paper-plane {
                            color: #31c4b5;
                        }
                        .fa-envelope {
                            color: #f1dc38;
                        }
                    }
                    .container-2-content-col:nth-child(3) {
                        border: none;
                    }
                }
            }
        }
    }
    .container {
        background: #FFD686;
        &.container-3 {
            padding: 90px 0;
            .slide {
                width: 100%;
                .control {
                    font-size: 60px;
                    color: whitesmoke;
                    margin-top: 290px;
                    text-align: center;
                }
                .left {
                    &:active {
                        .slide-img-2 {
                            z-index: 2;
                        }
                    }
                }
                .right {
                    &:hover {
                        .slide-img-1 {
                            z-index: 2;
                        }
                    }
                }
                .list-img {
                    height: 600px;
                    position: relative;
                    .slide-img {
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        .item-img {
                            height: 50%;
                            overflow: hidden;
                            img {
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                        .slide-content {
                            height: 50%;
                            background: white;
                            padding: 80px 70px;
                            text-align: center;
                            h4 {
                                font-size: 25px;
                                color: rgb(147, 144, 144);
                                font-weight: 800;
                                margin-bottom: 30px;
                                text-transform: uppercase;
                            }
                            p {
                                color: gray;
                                line-height: 2;
                            }
                        }
                    }
                }
            }
        }
    }
    .container {
        &.container-4 {
            background: white;
            text-align: center;
            padding: 80px 85px;
            h3 {
                text-transform: uppercase;
                font-weight: 800;
                margin-bottom: 10px;
            }
            .container-4-box {
                margin-top: 50px;
                box-shadow: -3px -4px 40px rgba(211, 211, 211, 0.4);
                border-radius: 2px;
                border: 1px solid white;
                overflow: hidden;
                .row {
                    &.container-4-row {
                        color: gray;
                        height: 400px;
                        overflow: hidden;
                        .col-img {
                            padding: 0;
                            overflow: hidden;
                            img {
                                object-fit: cover;
                                height: 100%;
                            }
                        }
                        .col-text {
                            padding: 0;
                            .col-content {
                                padding: 100px 60px;
                                h5 {
                                    font-size: 26px;
                                    margin-bottom: 10px;
                                    font-weight: 800;
                                }
                                p {
                                    line-height: 2;
                                    margin-bottom: 20px;
                                }
                                .btn {
                                    border-radius: 80px;
                                    padding: 10px 40px;
                                    background: #5E6275;
                                    color: white;
                                    font-weight: 700;
                                    border: 1px solid #363842;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.background-container-1 {
    .container {
        &.container-5 {
            background: #4DAAAF;
            text-align: center;
            padding-top: 70px;
            padding-bottom: 120px;
            h3 {
                text-transform: uppercase;
                margin-bottom: 15px;
                color: white;
            }
            p {
                margin-bottom: 30px;
                color: rgb(216, 227, 231);
            }
            .input-email {
                display: flex;
                position: relative;
                line-height: 50px;
                input {
                    border: 1px solid #51A4A5;
                    color: gray;
                    border-radius: 50px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0 30px;
                }
                button {
                    background: #58B6BA;
                    color: rgb(202, 242, 243);
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0 30px;
                    border-radius: 0 60px 60px 0;
                    border: 1px solid #51A4A5;
                }
            }
        }
    }
}

.fotter {
    .container {
        &.container-footer {
            .row {
                &.row-fotter-1 {
                    text-align: center;
                    padding: 80px 0;
                    line-height: 40px;
                    padding-bottom: 40px;
                    .col-md-3 {
                        border-right: 1px solid rgba(255, 255, 255, 0.2);
                    }
                    .col-md-3:nth-child(4) {
                        border: none
                    }
                    h3 {
                        color: rgb(209, 206, 206);
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: 700;
                    }
                    a {
                        color: rgb(181, 181, 181);
                        display: block;
                    }
                }
                &.row-fotter-2 {
                    div {
                        margin-bottom: 50px;
                        i {
                            color: #bdbdbd;
                        }
                    }
                }
            }
        }
    }
}

// Reponsive
@media (max-width: 700px) {
    .container-fluid {
        p {
            font-size: 14px;
        }
        // container 1
        .container {
            height: 100%;
            // menu
            .menu {
                .logo {
                    a {
                        font-size: 13px;
                    }
                }
                .menu-icon {
                    a {
                        font-size: 13px;
                    }
                }
            }
            // cover
            .row {
                &.row-2 {
                    height: 100%;
                    display: flex;
                    flex-direction: column-reverse;
                    .col-md-4 {
                        display: flex;
                        height: 300px;
                        .row-2-col-2-content {
                            flex: 1;
                            .box-1,
                            .box-2 {
                                height: 300px;
                                padding: 25% 20%;
                            }
                        }
                    }
                }
            }
        }
        // container 2
        .background-container-2 {
            .container {
                &.container-2 {
                    .container-2-row-content {
                        display: block;
                        .container-2-content-col {
                            border-right: none;
                            border-bottom: 1px solid #acacac;
                        }
                    }
                }
            }
            // container 3
            .container {
                &.container-3 {
                    padding-top: 0;
                    height: 100%;
                    .slide {
                        .control {
                            display: none;
                        }
                        .list-img {
                            position: static;
                            height: 100%;
                            padding: 0 60px;
                            .slide-img {
                                position: static;
                                margin-top: 60px;
                                height: 400px;
                            }
                            .slide-content {
                                padding: 30px 50px;
                                h4 {
                                    font-size: 22px;
                                }
                                p {
                                    line-height: 1.5;
                                }
                            }
                        }
                    }
                }
            }
        }
        // container 4
        .container {
            &.container-4 {
                .container-4-box {
                    .row {
                        height: 100% !important;
                        &.container-4-row {
                            .col-text {
                                .col-content {
                                    padding: 50px 50px;
                                    p {
                                        line-height: 1.5;
                                    }
                                }
                            }
                            .col-img {
                                display: block;
                            }
                        }
                    }
                }
                .row-text-1 {
                    height: 100%;
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }
        .fotter {
            .container {
                &.container-footer {
                    .row {
                        &.row-fotter-1 {
                            .col-md-3 {
                                padding: 40px 0;
                                border: 1px solid rgba(255, 255, 255, 0.2);
                            }
                            .col-md-3:nth-child(1) {
                                border: none;
                            }
                            .col-md-3:nth-child(2) {
                                border-top: none;
                                border-right: none;
                            }
                            .col-md-3:nth-child(3) {
                                border-bottom: none;
                                border-left: none;
                            }
                            .col-md-3:nth-child(4) {
                                border: none;
                            }
                        }
                        &.row-fotter-2 {
                            text-align: center;
                            div {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}